body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  text-align: justify;
}
.parent-div {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 45;
  padding: 5%;
}
.focused-mission {
  font-size: 51px;
  font-weight: 900;
  width: 65%;
  border-left: 6px solid;
  border-image: linear-gradient(
    rgb(208, 38, 38),
    rgb(48, 70, 233),
    rgb(160, 46, 46)
  );
  border-image-slice: 1;
}
.mission-2022 {
  color: rgb(221, 92, 69);
}
.person-image img {
  width: 100%;
  padding: 5%;
  margin-left: 10%;
}
.explore-button {
  width: 20%;
  padding: 10px 40px;
  background-image: linear-gradient(rgb(48, 70, 233), rgb(247, 136, 96));
  text-decoration: none;
  font-weight: 650;
  padding: 10px 25px;
  border-radius: 5%;
  height: 10%;
  color: white;
}
.explore-button:hover {
  color: red;
}
.goal-2022 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
.color-2022 {
  color: rgb(30, 138, 210);
}
.color-mission {
  color: rgb(8, 9, 43);
}
.three-illustrator {
  display: flex;
  width: 85%;
  margin-left: 8%;
}
.illustrator1 {
  background-image: linear-gradient(rgb(255, 217, 217), rgb(218, 255, 218));
  padding: 2%;
  margin-right: 2%;
  border-radius: 7%;
}
.illustrator1 img {
  width: 30%;

  justify-content: space-between;
  padding: 5%;
}
.illustrator2 {
  background-image: linear-gradient(rgb(255, 212, 237), rgb(218, 255, 233));
  padding: 2%;
  margin-right: 2%;
  border-radius: 7%;
}
.illustrator2 img {
  width: 30%;

  justify-content: space-between;
  padding: 5%;
}
.illustrator3 {
  background-image: linear-gradient(rgb(218, 255, 221), rgb(244, 253, 219));
  padding: 2%;
  margin-right: 2%;
  border-radius: 7%;
}
.illustrator3 img {
  width: 30%;

  justify-content: space-between;
  padding: 5%;
}
.text-mission {
  width: 70%;
}
.text-size {
}
.programmer-image {
  margin-top: 8%;
  background-position-y: 50%;
}
.programmer-image img {
  margin-left: 8%;
  width: 35%;
  border-radius: 5%;
}
